<!doctype html>

<title>Admin</title>

<div class="wrap">
	<div class="tabs">
		<span class="tab tab1" id="tab1">profile</span>	
		<span class="tab tab2" id="tab2">theme</span>	
		<span class="tab tab3" id="tab3">notepad</span>	
	</div>

	<div class="bodies">
		<div class="body body1" id="body1">{{ test }}
			<div class="profile" method="POST">
				<input type="text" name="firstname" placeholder="firstname" id="firstname" value="{{ test }}">
				<input type="text" name="lastname" placeholder="lastname" id="lastname">
				<button type="submit" class="submit" id="profileSubmitBtn">Send</button>
			</div>
			<div class="msg error" id="errorMsg">Operation is failed</div>
			<div class="msg success" id="successMsg">Operation is successfully</div>
			<div class="msg validation" id="validationMsg">Fill all fields</div>
		</div>

		<div class="body body2" id="body2">
			<form class="theme">
				<select name="background[]">
					<option selected value="white">Белый</option>
					<option value="black">Чёрный</option>
					<option value="blue">Синий</option>
				</select>
			</form>
		</div>

		<div class="body body3" id="body3">
			<form class="notepad">
				<textarea class="textarea"></textarea>
			</form>
		</div>
	</div>
</div>

<style type="text/css">
	.tab {
		margin: 20px;
		padding: 10px;
		background: yellow;
	}

		.tab.active {
			background: red;
		}

	.body {
		margin: 20px;
		padding: 10px;
		background: cyan;
		min-height: 200px;
	}
</style>

<script type="text/javascript">
	const tab1Elem = document.getElementById('tab1');
	const tab2Elem = document.getElementById('tab2');
	const tab3Elem = document.getElementById('tab3');

	const body1Elem = document.getElementById('body1');
	const body2Elem = document.getElementById('body2');
	const body3Elem = document.getElementById('body3');

	hideAllBodies();
	showBody(body1Elem);
	unactiveAllTabs();
	activeTab(tab1Elem);

	tab1Elem.addEventListener('click', () => {
		hideAllBodies();
		showBody(body1Elem);
		unactiveAllTabs();
		activeTab(tab1Elem);
	});

	tab2Elem.addEventListener('click', () => {
		hideAllBodies();
		showBody(body2Elem);
		unactiveAllTabs();
		activeTab(tab2Elem);
	});

	tab3Elem.addEventListener('click', () => {
		hideAllBodies();
		showBody(body3Elem);
		unactiveAllTabs();
		activeTab(tab3Elem);
	});

	function hideAllBodies() {
		[body1Elem, body2Elem, body3Elem].forEach((elem) => {
			elem.style.display = 'none';
		});
	}

	function showBody(bodyElem) {
		bodyElem.style.display = 'block';
	}

	function unactiveAllTabs() {
		[tab1Elem, tab2Elem, tab3Elem].forEach((elem) => {
			elem.classList.remove("active");
		});
	}

	function activeTab(tabElem) {
		tabElem.classList.add("active");
	}
</script>

<script type="text/javascript">
	const profileSubmitBtnElem = document.getElementById('profileSubmitBtn');
	const errorMsgElem = document.getElementById('errorMsg');
	const successMsgElem = document.getElementById('successMsg');
	const validationMsgElem = document.getElementById('validationMsg');

	setMsgVisibility('none', 'none', 'none');

	if(profileSubmitBtnElem) {
		profileSubmitBtnElem.addEventListener('click', profileSubmit);
	}

	function profileSubmit() {
		const firstname = document.getElementById('firstname').value;
		const lastname = document.getElementById('lastname').value;


		if (!firstname || !lastname) {
			setMsgVisibility('none', 'none', 'block');
			setTimeout(() => {
				setMsgVisibility('none', 'none', 'none');
			}, 2000);
			return;
		}

		const xhr = new XMLHttpRequest();
		xhr.open("POST", "submit_profile_request", true);
		xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
		xhr.onreadystatechange = function() {
		  if(xhr.status === 200 && this.responseText === 'submit profile is complete') {
		  	setMsgVisibility('block', 'none');
		  } else {
		  	setMsgVisibility('none', 'block');
		  }

		  setTimeout(() => {
		  	setMsgVisibility('none', 'none');
		  }, 2000);
		}
		xhr.send(`firstname=${firstname}&lastname=${lastname}`);
	}

	function setMsgVisibility(success, error, validation) {
	  	successMsgElem.style.display = success;
	  	errorMsgElem.style.display = error;
	  	validationMsg.style.display = validation;
	}
</script>